<%provide :title,"home"%>

  <div id="slides">
	<img src="http://placehold.it/940x528">
	<img src="http://placehold.it/940x528">
	<img src="http://placehold.it/940x528">
	<img src="http://placehold.it/940x528">
	<img src="http://placehold.it/940x528">
  </div>
  <div id="subcontent">
	Find yourself herer
  </div>

